
<div class="dropdown @CanHover">
    <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span>@Title</span>
            <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content" @onclick=Click>
            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    static readonly string IsHoverableClass = "is-hoverable";
    string CanHover = IsHoverableClass;
    async Task Click()
    {
        CanHover = string.Empty;
        await Task.Delay(1);
        CanHover = IsHoverableClass;
    }
}
