
<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
        <h3>@Title</h3>
        <p>@Message</p>
        <button class="button" @onclick=Yes>Yes</button>
        <button class="button" @onclick=No>No</button>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Message { get; set; }
    [Parameter] public EventCallback<bool> OnClose { get; set; }

    protected Task Yes() => OnClose.InvokeAsync(true);
    protected Task No() => OnClose.InvokeAsync(false);
}
