@using MudBlazor
@code
{
    [Parameter]
    public RenderFragment? NavBarRender { get; set; } = null;
    [Parameter]
    public RenderFragment? Body { get; set; }
    [Parameter]
    public bool HasWrappedBody { get; set; } = true;
    public readonly MudTheme komitTheme = new()
        {

            PaletteLight = new PaletteLight()
            {
                Primary = "#0c84e4",
                PrimaryContrastText = Colors.Gray.Lighten5,
                Secondary = "#5c636a",
                SecondaryContrastText = "#000000",
                Tertiary = Colors.Gray.Lighten5,
                TertiaryContrastText = Colors.Gray.Lighten5,
                Info = "#0c84e4",
                AppbarBackground = "#0c84e4",
                AppbarText = Colors.Gray.Lighten5,
                TextPrimary = "#000000",
                TextSecondary = Colors.Gray.Lighten5,
            },
            PaletteDark = new PaletteDark()
            {
                Primary = "#0c84e4",
                PrimaryContrastText = Colors.Gray.Darken4,
                Secondary = "#5c636a",
                SecondaryContrastText = "#FFFFFF",
                Tertiary = Colors.Gray.Darken4,
                TertiaryContrastText = Colors.Gray.Darken4,
                Info = "#0c84e4",
                AppbarBackground = "#0c84e4",
                AppbarText = Colors.Gray.Darken4,
                TextPrimary = "#FFFFFF",
                TextSecondary = Colors.Gray.Darken4,
            }
        };
}
<PageTitle>"KOMiT"</PageTitle>
<MudThemeProvider Theme="komitTheme">
</MudThemeProvider>
<MudPopoverProvider>
</MudPopoverProvider>
<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.ExtraSmall"
                   CloseButton="true"
                   BackdropClick="false"
                   NoHeader="true"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="true"
                   BackgroundClass="my-custom-class">
</MudDialogProvider>
<MudSnackbarProvider></MudSnackbarProvider>
<MudLayout>
    <!-- Navigation Bar -->
    @if (NavBarRender != null)
    {
        @NavBarRender
    }    
    <!-- Main Content -->
    <MudMainContent>
        @if (HasWrappedBody)
        {
            <MudPaper Elevation="0" Class="p-4">
                <article>
                    @Body
                </article>
            </MudPaper>
        }
        else
        {
            @Body
        }
    </MudMainContent>
</MudLayout>

<!-- Error UI -->
<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <MudLink Href=".">Reload</MudLink>
    <span class="dismiss" style="cursor:pointer;">🗙</span>
</div>
