@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<img src="/api/test/GetJPeg" />
<InputText @bind-Value=Path> </InputText>
<button @onclick="GetMessage">Get message</button>
<p>Message is: @Message </p>

@code {
    [Inject] CqrsClient Client { get; set; }
    public string Path { get; set; } = "https://localhost:7074/api/test/amessage";
    public string Message { get; set; } = "Unknown";

    public async Task GetMessage()
    {
        Message = await Client.Http().GetStringAsync(Path);
    }
}