@page "/dev/access"
@page "/dev/access/{IdString}"
@using Microsoft.JSInterop;
<h3>Token is: </h3>
<h3 data-testid="session-id">@SessionHandler.Token</h3>
<button @onclick=OpenTestPage>Open swagger</button>
@code {
    [Inject] SessionHandler SessionHandler { get; set; }
    [Inject] IJSRuntime JSRuntime { get; set; }
    [Inject] HttpClient Client { get; set; }
    [Parameter] public string IdString { get; set; }
    // ToDo enable dev session selection
    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrWhiteSpace(IdString) && (!Guid.TryParse(IdString, out var sessionId) || sessionId == Guid.Empty))
            await SessionHandler.SetToken(await Client.GetStringAsync("api/devaccess/GetToken/" + IdString));
        await SessionHandler.Initialize();
        if (string.IsNullOrWhiteSpace(SessionHandler.Token)) 
            await SessionHandler.SetToken(await Client.GetStringAsync("api/devaccess/GetToken/" + Guid.NewGuid().ToString()));
    }
    protected async Task OpenTestPage()
        => await JSRuntime.InvokeVoidAsync("open", "navigate/index.html?session=" + SessionHandler.Token, "_blank");
}